<!DOCTYPE html>
<html>
	<head>
		<title>Anna Shevchenko</title>
		<meta charset="utf-8">
		<meta name="viewport" 
 			content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../stylesheets/main_1.css">
		<link rel="stylesheet" href="../stylesheets/tablet.css">
		<link rel="stylesheet" href="../stylesheets/phone.css">
		<!--[if lt IE 9]>
			<link rel="stylesheet" href="stylesheets/1stWebDesignerIE.css">
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 		 <![endif]-->
	</head>
	<body>
		<div class="b-container">
			
<!-- Секция Заголовка -->
			<div class="b-container__header">
				<div class="b-container__main">
					<header class="b-header">
						<div class="b-header__banner"><img class="b-banner" src="../images/design/banner_1.jpg" alt="psycholog" title="Психология Женственности"></div>
						<nav class="b-header__menuTop">
							<ul class="b-menuTop">
								<li class="b-menuTop__item"><a class="b-menuTop__link" href="#">Анна Шевченко</a></li>
								<li class="b-menuTop__item"><a class="b-menuTop__link" href="#">Программа</a></li>
								<li class="b-menuTop__item"><a class="b-menuTop__link" href="#">Статьи</a></li>
								<li class="b-menuTop__item"><a class="b-menuTop__link" href="#">Тесты</a></li>
							</ul>
						</nav>
						<div class="b-header__syteName"><h1 class="b-syteName">Грани<br>Женственности</h1></div>
						<div class="b-header__syteIdea"><h2 class="b-syteIdea">психологическая программа развития женственности</h2></div>
					</header>
				</div>
			</div>
			
<!-- Секция Основной идеи сайта -->
			<div class="b-container__mission">
				<div class="b-container__main">
						<article class="b-mission">
							<h2 class="b-mission__header">Дорогие Женщины!</h2>
							<p class="b-mission__maintext">Давайте представим, что Богом данная нам женственность - это драгоценный камень (алмаз, рубин, топаз, изумруд... какой Вам больше нравится!) У каждого камня своя энергия и свои почитатели. При этом, чтобы камень заиграл, стал по-настоящему ценным, и мы с гордостью могли его носить, а окружающие - восхищаться, нам надо познакомиться с ним, принять его, полюбить, огранить и отшлифовать. И обратите внимание: Мастером-ювелиром можете быть Вы, и только Вы! </p>
							<p class="b-mission__devis">Хотите узнать, как? Я вам сейчас кое-что расскажу...</p>
						</article>
				</div>
			</div>
			
<!-- Секция Глобального Меню -->			
			<nav class="b-container__menu">
				<div class="b-container__main">
					<ul class="b-menu" id="menu1">
						<li class="b-menu__item">
							<a href="#" class="b-menu__linkGlobalMenu">
								<figure class="b-linkGlobalMenu">
									<div class="b-linkGlobalMenu__imageWrapGM"><img class="b-linkGlobalMenu__imageGM" src="../images/design/" alt="" title=""></div>
									<article class="b-linkGlobalMenu__descriotionGM">
										<h3 class="b-descriotionGM__header">Блог</h3>
										<h4 class="b-descriotionGM__underHeader">Описание, заметки, опыты</h4>
										<p class="b-descriotionGM__text">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
									</article>
								</figure>
							</a>
						</li>
						<li class="b-menu__item">
							<a href="#" class="b-menu__linkGlobalMenu">
								<figure class="b-linkGlobalMenu">
									<div class="b-linkGlobalMenu__imageWrapGM"><img class="b-linkGlobalMenu__imageGM" src="../images/design/" alt="" title=""></div>
									<article class="b-linkGlobalMenu__descriotionGM">
										<h3 class="b-descriotionGM__header">Программа</h3>
										<h4 class="b-descriotionGM__underHeader">Раскрытие Вашей женственности</h4>
										<p class="b-descriotionGM__text">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
									</article>
								</figure>
							</a>
						</li>
						<li class="b-menu__item">
							<a href="#" class="b-menu__linkGlobalMenu">
								<figure class="b-linkGlobalMenu">
									<div class="b-linkGlobalMenu__imageWrapGM"><img class="b-linkGlobalMenu__imageGM" src="../images/design/" alt="" title=""></div>
									<article class="b-linkGlobalMenu__descriotionGM">
										<h3 class="b-descriotionGM__header">Практика</h3>
										<h4 class="b-descriotionGM__underHeader">Тесты для домашнего пользования</h4>
										<p class="b-descriotionGM__text">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
									</article>
								</figure>
							</a>
							</a>
						</li>
					</ul>
				</div>
			</nav>

<!-- Секция Обо мне -->	
		<div class="b-container__aboutMeBlock">
			<div class="b-container__main">
				<div class="b-aboutMeBlock">
					<div class="b-aboutMeBlock__aboutMe">
						<article class="b-aboutMe">
							<h2 class="b-aboutMe__header">Давайте знакомиться!</h2>
							<p class="b-aboutMe__main">Меня зовут <span class="b-aboutMe__name">Анна Шевченко</span>. <br>Я психолог, помогающий человеку раскрыть свою душу. Мой девиз:</p>
							<div class="b-aboutMe__epigraph">
								<div class="b-epigraph">
									<p class="b-epigraph__text">В каждом человеке Солнце. Только дайте ему светить!</p>
									<p class="b-epigraph__author">Сократ</p>
								</div>
							</div>
							<p class="b-aboutMe__description">Давайте представим, что Богом данная нам женственность - это драгоценный камень (алмаз, рубин, топаз, изумруд... какой Вам больше нравится!) У каждого камня своя энергия и свои почитатели. При этом, чтобы камень заиграл, стал по-настоящему ценным, и мы с гордостью могли его носить, а окружающие - восхищаться, нам надо познакомиться с ним, принять его, полюбить, огранить и отшлифовать. И обратите внимание: Мастером-ювелиром можете быть Вы, и только Вы! </p>
							<p class="b-aboutMe__study">Информацию о моем образовании и профессиональном опыте вы можете посмотреть <a class="b-study__link" href="#">здесь</a>.</p>
							<div class="b-aboutMe__studyInfo">
								<div class="b-studyInfo"></div>
							</div>
						</article>
					</div>
					<div class="b-aboutMeBlock__myPhoto">
						<img class="b-myPhoto" src="../images/content/me.png" alt="Anna Shevchenko" title="Anna Shevchenko">
					</div>
				</div>
			</div>
		</div>

<!-- Секция О методе -->
			<div class="b-container__myMethod">
				<div class="b-container__main">
					<div class="b-myMethod">
						<div class="b-myMethod__illustration">
							<img class="b-illustration" src="../images/content/method.jpg" alt="Психология женственности" title="Психология женственности">
						</div>
						<div class="b-myMethod__aboutMethod b-myMethod__aboutMethod_first">
							<article class="b-aboutMethod">
								<h2 class="b-aboutMethod__header">Как это работает?</h2>
								<p class="b-aboutMethod__main">Давайте представим, что Богом данная нам женственность - это драгоценный камень (алмаз, рубин, топаз, изумруд... какой Вам больше нравится!) У каждого камня своя энергия и свои почитатели. При этом, чтобы камень заиграл, стал по-настоящему ценным, и мы с гордостью могли его носить, а окружающие - восхищаться, нам надо познакомиться с ним, принять его, полюбить, огранить и отшлифовать. И обратите внимание: Мастером-ювелиром можете быть Вы, и только Вы!</p>
							</article>
						</div>
						<div class="b-myMethod__aboutMethod">
							<article class="b-aboutMethod">
								<p class="b-aboutMethod__description">Давайте представим, что Богом данная нам женственность - это драгоценный камень (алмаз, рубин, топаз, изумруд... какой Вам больше нравится!) У каждого камня своя энергия и свои почитатели. При этом, чтобы камень заиграл, стал по-настоящему ценным, и мы с гордостью могли его носить, а окружающие - восхищаться, нам надо познакомиться с ним, принять его, полюбить, огранить и отшлифовать. И обратите внимание: Мастером-ювелиром можете быть Вы, и только Вы! </p>
								<p class="b-aboutMethod__experiense">Подробнее о техниках и методах, которыми я владею, смотрите <a class="b-experiense__link" href="#">здесь</a>.</p>
								<div class="b-aboutMethod__methodInfo">
									<div class="b-methodInfo"></div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>


<!-- Секция О программе -->	
			<div class="b-container__programBlock">
				<div class="b-container__main_wide">
					<div class="b-programBlock">
						<div class="b-programBlock__sideImage b-programBlock__sideImage_left"></div>
						<div class="b-programBlock__program">
							<div class="b-programBlock__presentation">
								<article class="b-presentation">
									<h2 class="b-presentation__headerMain">Мы предлагаем Вам программу "Грани Женственности" <br>(8 тренингов) <br>для развития и раскрытия Вашей уникальной Женственности.</h2>
									<div class="b-presentation__gifesProgram">
										<menu class="b-gifesProgram">После прохождения всей программы Вы:
											<br><br><li class="b-gifesProgram__item">получите незабываемый опыт любви и заботы о себе</li>
											<li class="b-gifesProgram__item">раскроете свою Женственность, каждую её грань</li>
											<li class="b-gifesProgram__item">проработаете проблемные зоны в отношениях (с мужчиной, детьми, родителями)</li>
											<li class="b-gifesProgram__item">найдете и откроете свою дорогу к Счастью!</li>
										</menu>
									</div>
									<p class="b-presentation__resume">Ваш драгоценный камень Женственности засияет, и Вы с гордостью и с удовольствием будете носить его!
									</p>
								</article>
								<article class="b-presentation">
									<h3 class="b-presentation__header">Нас ждет удивительная встреча со своей внутренней Женщиной, <br>со всеми ее 7 гранями: <br>с вдохновляющей Искусительницей, с верной Спутницей, с заботливой Матерью, со смелой Амазонкой, с нежной Принцессой, с умной Бизнес-леди и с мудрой Берегиней. Удивительно, насколько разной может быть Женщина!!!</h3>
									<div class="b-presentation__gifesProgram">
										<menu class="b-gifesProgram">
											<li class="b-gifesProgram__item">Какую из граней Вы в себе любите и поддерживаете? </li>
											<li class="b-gifesProgram__item">Какую игнорируете или даже отвергаете? </li>
											<li class="b-gifesProgram__item">Какая Вам помогает в сложных ситуациях? Какая мешает?</li>
											<li class="b-gifesProgram__item">Какая нравится Вашим близким, а какая - нет? </li>
											<li class="b-gifesProgram__item">Какая из них хорошо развита, а какой  стоит уделить особое внимание?</li>
											<li class="b-gifesProgram__item">И как они ладят между собой? </li>
											<li class="b-gifesProgram__item">Как Вам с ними живется? </li>
										</menu>
									</div>
									<div class="b-presentation__gifesProgram">
										<menu class="b-gifesProgram">Каждую грань мы рассмотрим с 4 точек зрения:
											<li class="b-gifesProgram__item">стиль жизни: ценности и интересы;</li>
											<li class="b-gifesProgram__item">отношения с мужчинами;</li>
											<li class="b-gifesProgram__item">воспитание детей;</li>
											<li class="b-gifesProgram__item">пути развития</li>
										</menu>
									</div>
									<p class="b-presentation__resume">И ещё Вы узнаете, какое впечатление Ваша неповторимая женственность производит на окружающих.
									</p>
								</article>
							</div>
						</div>
						<div class="b-programBlock__sideImage b-programBlock__sideImage_right"></div>
					</div>
				</div>
			</div>
			
<!-- Секция Меню Программы -->

<!-- Секция Отзывы -->	
			<div class="b-container__reviews">
				<div class="b-container__main">
					
				</div>
			</div>	

<!-- Секция Дополнительных вопросов -->			

<!-- Секция Практики -->

<!-- Секция Блога -->
			<div class="b-container__blog">
				<div class="b-container__main">
					<div class="b-blog">
						
					</div>
				</div>
			</div>

<!-- Секция Всплывающего Заголовка -->

<!-- Секция Подвала -->
			<div class="b-container__footer">
				<div class="b-container__main">
					<footer class="b-footer">
						
						<div class="b-footer__copyright">
							<p class="b-copyright__text">Copyright&copy; 2016 by Kateryna Mazurenko.</p>
						</div>
					</footer>
				</div>
			</div>
		
		</div>
		
		
		<script src="../scripts/jquery-2.2.1.min.js"></script>
		<script src="../scripts/component.js"></script>
		<script src="../scripts/main.js"></script>
		<!-- 
<script src="../scripts/settings.js"></script>
		<script src="../scripts/init_settings.js"></script>
 -->
		
		
		
	<!-- 
	<script>
			var slider1 = new Slider ("#slider1");
		</script>
 -->
		
	</body>

	<script>
		window.onbeforeunload = function(){
		return false;
		}	
	</script>
</html>