<!DOCTYPE html>
<html>
	<head>
		<title>Calc_1stWebDesigner-menu</title>
		<meta charset="utf-8">
		<meta name="viewport" 
 			content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../stylesheets/main.css">
		<link rel="stylesheet" href="../stylesheets/screenSmall.css">
		<link rel="stylesheet" href="../stylesheets/screenMiddle.css">
		<!--[if lt IE 9]>
			<link rel="stylesheet" href="stylesheets/1stWebDesignerIE.css">
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 		 <![endif]-->
	</head>
	<body>
		<div class="b-container">
		<div class="b-container__tabs">
				<div class="b-container__main_wide">
					<div class="b-tabs" id="activeTab1">
						<div class="b-tabs__menuTabs">
							<menu class="b-menuTabs">
								<li class="b-menuTabs__item">
									<figure class="b-menuTabs__headerTabs b-menuTabs__headerTabs_active">
										<img class="b-headerTabs__image" id="experience" src="../images/design/experience.png" alt="webdesign">
										<div class="b-headerTabs__itemTabName">
											<div class="b-itemTabName">
												<header class="b-itemTabName__headlineWrap"><h2 class="b-itemTabName__headline">experience</h2></header>
												<p class="b-itemTabName__text">professionals working together</p>
											</div>
										</div>
									</figure>
									<div class="b-menuTabs__activeTab b-tabs__activeTab_shown">
										<div class="b-activeTab">
											<nav class="b-activeTab__punctsTab">
												<ul class="b-punctsTab">
													<li class="b-punctsTab__item">a</li>
													<li class="b-punctsTab__item">b</li>
													<li class="b-punctsTab__item">c</li>
													<li class="b-punctsTab__item">d</li>
												</ul>
											</nav>
											<div class="b-activeTab__windowTab">
												<div class="b-windowTab"></div>
											</div>
										</div>
									</div>
								</li>
								<li class="b-menuTabs__item">
									<figure class="b-menuTabs__headerTabs">
										<img class="b-headerTabs__image" id="experience" src="../images/design/technologies.png" alt="webdesign">
										<div class="b-headerTabs__itemTabName">
											<div class="b-itemTabName">					
												<header class="b-itemTabName__headlineWrap"><h2 class="b-itemTabName__headline">calculator</h2></header>
												<p class="b-itemTabName__text">our prices will make you sure</p>
											</div>
										</div>
									</figure>
									<div class="b-tabs__activeTab">
										<div class="b-activeTab" id="calculator1"></div>
										<nav class="b-activeTab__punctsTab b-activeTab__punctsTab_calculator">
											<ul class="b-punctsTab">
												<li class="b-punctsTab__item" id="readMore1">1</li>
												<li class="b-punctsTab__item" id="readMore2">2</li>
												<li class="b-punctsTab__item" id="readMore3">3</li>
												<li class="b-punctsTab__item" id="readMore4">4</li>
												<li class="b-punctsTab__item" id="readMore5">5</li>
											</ul>
										</nav>
										<div class="b-activeTab__windowTab b-activeTab__windowTab_calculator">
											<div class="b-windowTab b-windowTab_calc"></div>
										</div>
										<div class="b-container__clearfix"></div>
									</div>
								</li>
								<li class="b-menuTabs__item">
									<figure class="b-menuTabs__headerTabs">
										<img class="b-headerTabs__image" id="experience" src="../images/design/support.png" alt="webdesign">
										<div class="b-headerTabs__itemTabName">
											<div class="b-itemTabName">
												<header class="b-itemTabName__headlineWrap"><h2 class="b-itemTabName__headline">support</h2></header>
												<p class="b-itemTabName__text">24/7 user satisfaction</p>
											</div>
										</div>
									</figure>
									<div class="b-tabs__activeTab">
										<div class="b-activeTab">
											<nav class="b-activeTab__punctsTab">
												<ul class="b-punctsTab">
													<li class="b-punctsTab__item">trr</li>
													<li class="b-punctsTab__item">trr</li>
													<li class="b-punctsTab__item">trr</li>
													<li class="b-punctsTab__item">trr</li>
												</ul>
											</nav>
											<div class="b-activeTab__windowTab">
												<div class="b-windowTab"></div>
											</div>
										</div>
									</div>
								</li>
							</menu>
						</div>
					</div>
				</div>
			</div>	
			
		</div>
		<script src="../scripts/jquery-2.1.4.min.js"></script>
		<script src="../scripts/component.js"></script>
		<script src="../scripts/settings.js"></script>
		<script src="../scripts/init_settings.js"></script>
		<script src="../scripts/menuMain.js"></script>
		<script src="../scripts/tabsFunctions.js"></script>
		<script src="../scripts/calculatorPrice.js"></script>
		<script src="../scripts/formEmail.js"></script>
		
		<script>
			var activeTab1 = new ActiveTab ("#activeTab1");
		</script>
		
		
		
	</body>
</html>		