<html>
	<head>
		<title>Form_1stWebDesigner-menu</title>
		<meta charset="utf-8">
		<meta name="viewport" 
 			content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../stylesheets/1stWebDesigner.css">
		<!--[if lt IE 9]>
			<link rel="stylesheet" href="../stylesheets/1stWebDesignerIE.css">
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 		 <![endif]-->
	</head>
	<body>
		<div class="b-container">
			<div class="b-container__tabs">
				<div class="b-container__main_wide">
					<div class="b-tabs">
						<div class="b-tabs__menuTabs">
							<menu class="b-menuTabs">
								<li class="b-menuTabs__item ">
									<figure class="b-menuTabs__tab">
										<img class="b-tab__image" id="experience" src="../images/design/experience.png" alt="webdesign">
										<div class="b-tab__itemTabName">
											<div class="b-itemTabName">
												<header class="b-itemTabName__headlineWrap"><h2 class="b-itemTabName__headline">experience</h2></header>
												<p class="b-itemTabName__text">professionals working together</p>
											</div>
										</div>
									</figure>
								</li>
								<li class="b-menuTabs__item">
									<figure class="b-menuTabs__tab">
										<img class="b-tab__image" id="experience" src="../images/design/technologies.png" alt="webdesign">
										<div class="b-tab__itemTabName">
											<div class="b-itemTabName">									
												<header class="b-itemTabName__headlineWrap"><h2 class="b-itemTabName__headline">Calculator</h2></header>
												<p class="b-itemTabName__text">our prices will make you sure</p>
											</div>
										</div>
									</figure>
								</li>
								<li class="b-menuTabs__item b-menuTabs__item_active">
									<figure class="b-menuTabs__tab">
										<img class="b-tab__image" id="experience" src="../images/design/support.png" alt="webdesign">
										<div class="b-tab__itemTabName">
											<div class="b-itemTabName">
												<header class="b-itemTabName__headlineWrap"><h2 class="b-itemTabName__headline">support</h2></header>
												<p class="b-itemTabName__text">let us know what is wrong</p>
											</div>
										</div>
									</figure>
								</li>
							</menu>
						</div>
						<div class="b-tabs__activeTab">
								<div class="b-activeTab" id="form1">
									<div class="b-activeTab__punctsTab b-activeTab__punctsTab_selection">
										<div class="b-punctsTab_selection b-punctsTab">
											<header class="b-punctsTab__headerWrap b-punctsTab__headerWrap_selection"><h2 class="b-punctsTab__header">Select the type of your question:</h2></header>
											<div class="b-punctsTab__questions">
												<form action="" method="" class="b-questions" id="b-questions">
													<select name="questions" class="b-questions__types" id="questions">
														<option name="question" value="technical">Technical Support</option>
														<option name="question" value="finance">Finance</option>
														<option name="question" value="services">Addition Services</option>
														<option name="question" value="partnership">PartnerShip</option>
														<option name="question" value="otherQuestions">Other</option>
													</select>
													<br><button class="b-questions__btn" id="q_ok_btn">OK</button>
												</form>
											</div>
										</div>
									</div>
									<nav class="b-activeTab__punctsTab b-activeTab__punctsTab_selected" id="technical">
										<header class="b-punctsTab__headerWrap"><h2 class="b-punctsTab__header">Your site has problems with<br>(mark one or more points):</h2></header>
										<ul class="b-punctsTab b-punctsTab_selected">
									
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description b-punctsTab__description_selected">
												<form  action="" method="" class="b-description__form">
   													<input type="checkbox" id="design" class="b-form__checkbox">
												</form>
												<p class="b-description__text b-description__text_selected">the site does not open at the specified address</p>
											</figure>
											<div class="b-container__clearfix"></div>
										</li>
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description b-punctsTab__description_selected">
												<form role="form" class="b-description__form">
   													<input type="checkbox" id="crossbrauser" class="b-form__checkbox">
												</form>
												<p class="b-description__text b-description__text_selected">problems with uploading images and other content</p>
											</figure>
											<div class="b-container__clearfix"></div>
										</li>
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description b-punctsTab__description_selected">
												<form role="form" class="b-description__form">
   													<input type="checkbox" id="responsive" class="b-form__checkbox">
												</form>
												<p class="b-description__text b-description__text_selected" >the site is very slow</p>
											</figure>
											<div class="b-container__clearfix"></div>
										</li>
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description b-punctsTab__description_selected">
												<form role="form" class="b-description__form">
   													<input type="checkbox" id="cms" class="b-form__checkbox">
												</form>
												<p class="b-description__text b-description__text_selected" >problems with calculations, forms, mail</p>
											</figure>
											<div class="b-container__clearfix"></div>
										</li>
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description b-punctsTab__description_selected">
												<form role="form" class="b-description__form">
   													<input type="checkbox" id="seo" class="b-form__checkbox">
												</form>
												<p class="b-description__text b-description__text_selected" >other problems</p>
											</figure>
											<div class="b-container__clearfix"></div>
										</li>
										
										</ul>
									</nav>
									<nav class="b-activeTab__punctsTab b-activeTab__punctsTab_selected" id="finance">
										<header class="b-punctsTab__headerWrap"><h2 class="b-punctsTab__header">Choose the right position:</h2></header>
										<ul class="b-punctsTab b-punctsTab_selected">
									
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description b-punctsTab__description_selected">
												<form  action="" method="" class="b-description__form">
   													<input type="checkbox" id="design" class="b-form__checkbox">
												</form>
												<p class="b-description__text">problems with money transfer for payment of our services</p>
											</figure>
											<div class="b-container__clearfix"></div>
										</li>
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description b-punctsTab__description_selected">
												<form role="form" class="b-description__form">
   													<input type="checkbox" id="crossbrauser" class="b-form__checkbox">
												</form>
												<p class="b-description__text">problems paying hosting</p>
											</figure>
											<div class="b-container__clearfix"></div>
										</li>
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description b-punctsTab__description_selected">
												<form role="form" class="b-description__form">
   													<input type="checkbox" id="responsive" class="b-form__checkbox">
												</form>
												<p class="b-description__text" >errors in calculation or accrual of discounts</p>
											</figure>
											<div class="b-container__clearfix"></div>
										</li>
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description b-punctsTab__description_selected">
												<form role="form" class="b-description__form">
   													<input type="checkbox" id="seo" class="b-form__checkbox">
												</form>
												<p class="b-description__text" >other problems</p>
											</figure>
											<div class="b-container__clearfix"></div>
										</li>
										
										</ul>
									</nav>
									<nav class="b-activeTab__punctsTab b-activeTab__punctsTab_selected" id="services">
										<header class="b-punctsTab__headerWrap"><h2 class="b-punctsTab__header">Choose services you want add:<br>(mark one or more points):</h2></header>
										<ul class="b-punctsTab b-punctsTab_selected">
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description">
												<form  action="" method="" class="b-description__form">
   													<input type="checkbox" id="design" class="b-form__checkbox">
												</form>
												<p class="b-description__text">Professional, UserFriendly Design</p>
											</figure>
											<div class="b-container__clearfix"></div>
											<div class="b-punctsTab__link b-container__readMore">Read more
												<div class="b-punctsTab__definition">For your website to successful, it should not only look good but also provide a seamless user experience for visitors. This is why good usability is important. It will set your website apart from your competition. In web design, good website usability is about making it easy for visitors to find the information they need quickly and easily.</div>
											</div>
										</li>
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description">
												<form role="form" class="b-description__form">
   													<input type="checkbox" id="crossbrauser" class="b-form__checkbox">
												</form>
												<p class="b-description__text">Cross Browser Compatibility</p>
											</figure>
											<div class="b-container__clearfix"></div>
											<div class="b-punctsTab__link b-container__readMore">Read more
												<div class="b-punctsTab__definition">Cross-browser refers to the ability of a website, web application, HTML construct or client-side script to function in environments that provide its required features and to bow out or degrade gracefully when features are absent or lacking.</div>
											</div>
										</li>
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description">
												<form role="form" class="b-description__form">
   													<input type="checkbox" id="responsive" class="b-form__checkbox">
												</form>
												<p class="b-description__text" >Responsive Web Design</p>
											</figure>
											<div class="b-container__clearfix"></div>
											<div class="b-punctsTab__link b-container__readMore">Read more
												<div class="b-punctsTab__definition">Responsive web design (RWD) is an approach to web design aimed at crafting sites to provide an optimal viewing and interaction experience—easy reading and navigation with a minimum of resizing, panning, and scrolling—across a wide range of devices (from desktop computer monitors to mobile phones).</div>
											</div>
										</li>
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description">
												<form role="form" class="b-description__form">
   													<input type="checkbox" id="cms" class="b-form__checkbox">
												</form>
												<p class="b-description__text" >CMS (Management System)</p>
											</figure>
											<div class="b-container__clearfix"></div>
											<div class="b-punctsTab__link b-container__readMore">Read more
												<div class="b-punctsTab__definition">The definition of a CMS is an application (more likely web-based), that provides capabilities for multiple users with different permission levels to manage (all or a section of) content, data or information of a website project, or internet application.</div>
											</div>
										</li>
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description">
												<form role="form" class="b-description__form">
   													<input type="checkbox" id="seo" class="b-form__checkbox">
												</form>
												<p class="b-description__text" >SEO Optimisation</p>
											</figure>
											<div class="b-container__clearfix"></div>
											<div class="b-punctsTab__link b-container__readMore">Read more
												<div class="b-punctsTab__definition">SEO is an acronym for "search engine optimization" or "search engine optimizer." Deciding to hire an SEO is a big decision that can potentially improve your site and save time, but you can also risk damage to your site and reputation.</div>
											</div>
										</li>
										</ul>
									</nav>
									<nav class="b-activeTab__punctsTab b-activeTab__punctsTab_selected" id="partnership">
										<header class="b-punctsTab__headerWrap"><h2 class="b-punctsTab__header">Select the direction of the services you want to offer us:</h2></header>
										<ul class="b-punctsTab  b-punctsTab_selected">
									
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description b-punctsTab__description_selected">
												<form  action="" method="" class="b-description__form">
   													<input type="radio" id="design" class="b-form__checkbox">
												</form>
												<p class="b-description__text">advertising on our site</p>
											</figure>
											<div class="b-container__clearfix"></div>
										</li>
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description b-punctsTab__description_selected">
												<form role="form" class="b-description__form">
   													<input type="radio" id="crossbrauser" class="b-form__checkbox">
												</form>
												<p class="b-description__text">advertising our services on your resources</p>
											</figure>
											<div class="b-container__clearfix"></div>
										</li>
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description b-punctsTab__description_selected">
												<form role="form" class="b-description__form">
   													<input type="radio" id="responsive" class="b-form__checkbox">
												</form>
												<p class="b-description__text" >you want to work in our team as a:</p>
												<form role="form" class="b-description__form">
   													<select name='animals' class='b-form__jobs'>
														<option class="b-form__job" value='designer'>web designer</option>
														<option class="b-form__job" value='fronten'>frontend developer</option>
														<option class="b-form__job" value='backend'>backend developer</option>
														<option class="b-form__jobl" value='SEO'>SEO</option>
														<option class="b-form__job" value='other'>other</option>
													</select>
												</form>
											</figure>
											<div class="b-container__clearfix"></div>
										</li>
										<li class="b-punctsTab__item b-punctsTab__item_selected">
											<figure class="b-punctsTab__description b-punctsTab__description_selected">
												<form role="form" class="b-description__form">
   													<input type="checkbox" id="seo" class="b-form__checkbox">
												</form>
												<p class="b-description__text" >other</p>
											</figure>
											<textarea name='review' class='b-description__rewiew'></textarea>
											<div class="b-container__clearfix"></div>
										</li>
										
										</ul>
									</nav>
									<div class="b-activeTab__punctsTab b-activeTab__punctsTab_selected" id="otherQuestions">
										<header class="b-punctsTab__headerWrap"><h2 class="b-punctsTab__header">Write us!</h2></header>
										<form role="form" class="b-punctsTab__form">
											<textarea name='review' class='b-form__review'></textarea>
										</form>
									</div>
									<div class="b-activeTab__windowTab b-activeTab__windowTab_inform">
										<div class="b-windowTab b-windowTab_inform">
											<div class="b-windowTab__information">
												<form action="" method="" class="b-information" id="b-information">
													<br><label class='b-information__label'>Name</label>
													<br><input type='text' name='name' class='b-information__field' id="name">
													<br><label class='b-information__label'>Surname</label>
													<br><input type='text' name='surname' class='b-information__field' id="surname">
													<br><label class='b-information__label'>E-Mail</label>
													<br><input type='text' name='email' class='b-information__field' id="mail">
													<br><label class='b-information__label'>Phone</label>
													<br><input type='text' name='phone' class='b-information__field' id="phone">
													<br><input type="checkbox" class="b-information__checkbox" id="agree"><span class="b-information__checkboxLabel">I agree to the privacy policy* and give permission for the processing of personal data</span>
													<br><input type="button" value="SEND" class="b-information__btn" id="send_btn">
												</form>
											</div>
											<div class="b-windowTab__contacts">
												<p class="b-contacts"><h2 class="b-contacts__header">Or Contact Us:</h2><span class="b-contacts__inform">Phone: +38 068 520-95-32<br>E-Mail: kateryna.mazurenko@gmail.com</span></p>
											</div>	
											<div class="b-windowTab__like">
												<header class="b-like__headerWrap"><h2 class="b-like__header">Like Us with:</h2></header>
												<a class="b-like__socials" href="#" target="_blanc"><img src="" alt="">FB</a>
												<a class="b-like__socials" href="#" target="_blanc"><img src="" alt="">IG</a>
												<a class="b-like__socials" href="#" target="_blanc"><img src="" alt="">TW</a>
											</div>
										</div>
									</div>
								<div class="b-container__clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>	
			
		</div>
		
		<script src="../scripts/jquery-2.1.4.min.js"></script>
		<script src="../scripts/component.js"></script>
		<script src="../scripts/settings.js"></script>
		<script src="../scripts/init_settings.js"></script>
		<!-- 
<script src="../scripts/menuMain.js"></script>
		<script src="../scripts/tabsFunctions.js"></script>
		<script src="../scripts/calculatorPrice.js"></script>
 -->
		<script src="../scripts/formEmail.js"></script>
		<script>
			var form1 = new Form ("#form1");
		</script>
		
		
	</body>
</html>		