<!DOCTYPE html>
<html>
	<head>
		<title>Menu_1stWebDesigner</title>
		<meta charset="utf-8">
		<meta name="viewport" 
 			content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../stylesheets/1stWebDesigner.css">
		<!--[if lt IE 9]>
			<link rel="stylesheet" href="stylesheets/1stWebDesignerIE.css">
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 		 <![endif]-->
	</head>
	<body>
		<div class="b-container">

			<nav class="b-container__menu">
				<div class="b-container__main">
					<ul class="b-menu" id="menu1">
						<li class="b-menu__item">
							<a href="#" class="b-menu__link">
								<p class="b-link__text">Home</p>
								<div class="b-link__triangle"></div>
							</a>
							<ul class='b-submenu' id="submenu1">
									<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Past</a>
										<ul class='b-subSubmenu'>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>News</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Photos</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Video</a></li>
										</ul>
									</li>
									<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Nowadays</a>
										<ul class='b-subSubmenu'>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>News</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Photos</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Video</a></li>
										</ul>
									</li>
									<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Future</a></li>
							</ul>
							
						</li>
						<li class="b-menu__item">
							<a href="#" class="b-menu__link">
								<p class="b-link__text b-link___text_active">Portfolio</p>
								<div class="b-link__triangle b-link__triangle_active"></div>	
							</a>
							<ul class='b-submenu' id="submenu2">
									<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Past</a>
										<ul class='b-subSubmenu'>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>News</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Photos</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Video</a></li>
										</ul>
									</li>
									<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Nowadays</a>
										<ul class='b-subSubmenu'>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>News</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Photos</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Video</a></li>
										</ul>
									</li>
									<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Future</a></li>
							</ul>
						</li>
						<li class="b-menu__item">
							<a href="#" class="b-menu__link">
								<p class="b-link__text">Services</p>
								<div class="b-link__triangle"></div>	
							</a>
							<ul class='b-submenu' id="submenu3">
									<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Past</a>
										<ul class='b-subSubmenu'>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>News</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Photos</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Video</a></li>
										</ul>
									</li>
									<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Nowadays</a>
										<ul class='b-subSubmenu'>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>News</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Photos</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Video</a></li>
										</ul>
									</li>
									<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Future</a></li>
							</ul>
						</li>
						<li class="b-menu__item">
							<a href="#" class="b-menu__link">
								<p class="b-link__text">About</p>
								<div class="b-link__triangle"></div>	
							</a>
							<ul class='b-submenu' id="submenu4">
									<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Past</a>
										<ul class='b-subSubmenu'>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>News</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Photos</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Video</a></li>
										</ul>
									</li>
									<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Nowadays</a>
										<ul class='b-subSubmenu'>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>News</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Photos</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Video</a></li>
										</ul>
									</li>
									<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Future</a></li>
							</ul>
						</li>
						<li class="b-menu__item">
							<a href="#" class="b-menu__link">
								<p class="b-link__text">Testimonials</p>
								<div class="b-link__triangle"></div>	
							</a>
							<ul class='b-submenu' id="submenu5">
									<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Past</a>
										<ul class='b-subSubmenu'>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>News</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Photos</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Video</a></li>
										</ul>
									</li>
									<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Nowadays</a>
										<ul class='b-subSubmenu'>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>News</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Photos</a></li>
											<li class='b-subSubmenu__item'><a href='#' class='b-subSubmenu__link'>Video</a></li>
										</ul>
									</li>
									<li class='b-submenu__item'><a href='#' class='b-submenu__link'>Future</a></li>
							</ul>
						</li>
						<li class="b-menu__item">
							<a href="#" class="b-menu__link">
								<p class="b-link__text">Contacts</p>
								<div class="b-link__triangle"></div>	
							</a>
				
						</li>
						<li class="b-menu__item">
							<a href="#" class="b-menu__link">
								<p class="b-link__text">Blogs</p>
								<div class="b-link__triangle"></div>	
							</a>
						</li>		

					</ul>
				</div>
			</nav>
		</div>
		<script src="../scripts/jquery-2.1.4.min.js"></script>
		<script src="../scripts/component.js"></script>
		<script src="../scripts/settings.js"></script>
		<script src="../scripts/init_settings.js"></script>
		<script src="../scripts/menuMain.js"></script>
		<script src="../scripts/tabsFunctions.js"></script>
		<script src="../scripts/calculatorPrice.js"></script>
		<script src="../scripts/formEmail.js"></script>
		<script>
			var menu1 = new Menu ("#menu1");
		</script>
		<script>
			var subMenu1 = new SubMenu ("#submenu1");
		</script>
		<script>
			var subMenu2 = new SubMenu ("#submenu2");
		</script>
		<script>
			var subMenu3 = new SubMenu ("#submenu3");
		</script>
		<script>
			var subMenu4 = new SubMenu ("#submenu4");
		</script>
		<script>
			var subMenu5 = new SubMenu ("#submenu5");
		</script>
	</body>
</html>