/* Шрифты */

@font-face {
    font-family: "Calibri";
    font-style: normal;
    font-weight: normal;
    src: local("â˜º"), url("fonts/Calibri.woff") format("woff"), url("fonts/Calibri.ttf") format("truetype"), url("fonts/Calibri.svg") format("svg");
}




/* Общие свойства классов */

html, body {
    height: 100%;
    width: 100%;
}
body {
    background: #fefefe url("../images/design/background.png") repeat no-repeat scroll left top;
    font-family: "Calibri",sans-serif;
    font-size: 10pt;
    margin: 0;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    width: auto;
}
.b-container {
    margin: 0 auto;
    max-width: 1578px;
}
.b-container__main {
    margin: 0 auto;
    width: 900px;
}
.b-container__main_wide {
    margin: 0 auto;
    max-width: 964px;
}
.b-container__clearfix {
    clear: both;
    display: inline-block;
    content: " ";
    height: 0;
    visibility: hidden;
}
.b-container__close{
	float: right;
	right: 0;
	top: 0;
	z-index: 400;
	color: #777777;
	font-weight: bold;
    font-size: 1.3em;
}
.b-container__close:hover{
 	color: #d9d9d9;
}
.b-container__topBtn{
background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid;
    bottom: 10px;
    color: #22aa2a;
    display: none;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 30px;
    position: fixed;
    right: 20px;
    text-align: center;
    text-decoration: none;
    width: 55px;
}
.b-container__topBtn:hover{
background: #a1a1a1 none repeat scroll 0 0;
}





/* Свойства Заголовка */

.b-container__header {
    margin: 52px 0 0px;
}
.b-header {
    min-height: 80px;
}
.b-header__logo {
    float: left;
    margin: 0;
    padding: 0;
    width: 26%;
}
.b-logo {
    margin: 0 0 0 20px;
    padding: 0;
}
.b-logo__img1 {
    color: #d1d5d5;
    font-size: 4em;
    margin: 0;
    vertical-align: middle;
    position: relative;
}
.b-logo__img2{
position: absolute;
left: 18px;
top: 13px;
}
.b-logo__img3{
position: absolute;
left: 40px;
top: 7px;
}
.b-logo__imgText{

}
.b-logo__headerWrap {
    display: inline-block;
    margin: 6% 0 0;
    vertical-align: middle;
}
.b-logo__header {
    color: #b8b8b8;
    font-size: 1.8em;
    margin: 0;
    text-transform: uppercase;
}
.b-logo__vision {
    color: #a3a3a3;
    font-size: 15px;
    margin: -1.2% 0 0;
    padding: 0;
}
.b-header__form {
    float: left;
    margin: 23px 0 0 46%;
}
.b-form {
    position: relative;
}
.b-form__submit {
    background: #e2e2e2 none repeat scroll 0 0;
    border: 15px solid #ffffff;
    border-radius: 30px;
    position: absolute;
    z-index: 3;
}
.b-form__glass {
    height: 20px;
    left: 100px;
    position: absolute;
    top: 20px;
    width: 30px;
    z-index: 2;
}
.b-form__search {
    background: #f2f2f2 none repeat scroll 0 0;
    border-radius: 0 10px 10px 0;
    color: #777777;
    font-size: 0.9em;
    height: 30px;
    left: 39px;
    padding: 0 0 0 16px;
    position: absolute;
    top: 10px;
    width: 227px;
    z-index: 2;
}





/* Свойства основного Меню */

.b-container__menu {
    margin: 80px 0 0px 0;
    
}
.b-menu {
    border-bottom: 5px solid #fff;
    color: #e2e1e2;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}
.b-menu__item {
    display: table-cell;
    margin: 0 5% 0 0;
}
.b-menu__item:first-child {
    margin-left: 7.3%;
}
.b-menu__link {
    color: #000000;
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
}
.b-link__text:hover {
    background: rgba(250,250,250,0.6);
}
.b-link__text {
    margin: 0;
}
.b-link__triangle {
    border: 8px solid transparent;
    height: 0;
    margin: -7px auto 0;
    padding: 0;
    width: 0;
}
.b-link___text_active {
    color: #ffffff;
}
.b-link__triangle_active {
    border-bottom: 8px solid #f9f9f9;
}
.b-submenu {
    background: none repeat scroll 0 0 #DDDDDD;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 200px;
	display: none;
	/*opacity: 0;
	visibility: hidden;*/
	transition: visibility 0.4s, opacity 0.4s;
	z-index: 100;
}
.b-submenu_shown {
	/* 
visibility: visible;
	opacity: 1;
 */
	display: block;
	}	
.b-submenu__item {
position: relative;
}
.b-submenu__link {
    display: block;
    padding: 3px 10px;
    text-decoration: none;
    color: #828282;
}
.b-submenu__link:hover {
    background: none repeat scroll 0 0 #f1f1f1;
    color: #414141;
}
.b-subSubmenu {
    background: none repeat scroll 0 0 #f1f1f1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 200px;
	display: none;
	left: 200px;
	top: 0px;
	/*opacity: 0;
	visibility: hidden;*/
	transition: visibility 0.4s, opacity 0.4s;
}
.b-subSubmenu_shown {
	/* 
visibility: visible;
	opacity: 1;
 */
	display: block;
	}
.b-subSubmenu__item {

}
.b-subSubmenu__link {
    display: block;
    padding: 3px 10px;
    text-decoration: none;
    color: #828282;
}
.b-subSubmenu__link:hover {
    background: none repeat scroll 0 0 #a2a2a2;
    color: #414141;
}





/* Свойства Миссии */
.b-container__imagination{

}
.b-imagination{
width: 98%;
min-height: 200px;
background: #54545c;
box-shadow: 5px 10px 10px #fff;
border-radius: 5px;
margin: 0 auto;
opacity: 0;
}
.b-imagination__mission{

}
.b-mission{

}
.b-mission__item{
display: inline-block;
width: 20%;
margin: 50px 2%;
text-shadow: 5px 5px 5px;
font-size: 3em;
color: #fff;
opacity: 0;
/* visibility: hidden; */

}
.b-imagination__aboutUs{
	text-align: center;
	letter-spacing: 1.5px;
	 color: rgb(237,232,213);
  text-shadow: 0 -1px rgba(0,0,0,.1);
   -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
	opacity: 0;
}
@-webkit-keyframes pulsate {
 50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
@keyframes pulsate {
 50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
.b-imagination__informAbout{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    opacity: 0;
	transition: visibility 0.4s ease 0s, opacity 0.4s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: 300;
}
.b-imagination__informAbout_shown{
	opacity: 1;
    transition: visibility 0.4s ease 0s, opacity 0.4s ease 0s;
    visibility: visible;
}
.b-informAbout{
	background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
	border: 3px solid #d9d9d9;
    min-height: 400px;
    max-height: 600px;
    left: 0;
    margin: 60px auto 0;
    padding: 10px;
    text-align: center;
    top: 20px;
    width: 650px;
    color: #414141;
    overflow: scroll;
}
.b-informAbout__image{
	width: 50%;
	height:auto
}
.b-informAbout__header{
	font-size: 1.8em;
}
.b-informAbout__text{
	font-size: 1.2em;
	margin: 0 10px;
	text-align: left;
}





/* Свойства Баннера */

.b-container__banner {
margin-top: 20px;
}
.b-banner {
   
}
.b-banner__header{
margin: 30px auto 40px;
color: #414141;
text-align: center;
font-size: 2em;
}
.b-banner__trianglesShadow {
}
.b-trianglesShadow {
}
.b-trianglesShadow__triangle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #878787;
    border-image: none;
    border-style: solid;
    border-width: 20px 13px 70px;
    margin: -90px 12px 0;
    position: relative;
    z-index: -1;
}
.b-trianglesShadow__triangle_left {
}
.b-trianglesShadow__triangle_right {
}
		
		/* Свойства Слайдера */
.b-banner__slider {
}
.b-slider {
    background: #2d2d31 none repeat scroll 0 0;
/*     height: 325px; */
    margin: 5px auto 0;
    width: 95%;
}
.b-slider__slide {
    margin: 0 2.5% 0 0 ;
    vertical-align: middle;
   	display: inline-block;
   	width: 29%;
}
.b-slider__slide:first-child {
    margin-left: 4.5%;
    vertical-align: middle;
}
.b-slide__image_active {
    margin-top: -25px;
    height: 300px;
    width: 100%;
    overflow: hidden;
}
.b-slide__image_prev{
 	height: 270px;
    width: 85%;
    overflow: hidden;
    margin: 0 0 0 15%;
    vertical-align: middle;
}
.b-slide__image_post{
 	height: 270px;
    width: 85%;
    overflow: hidden;
    vertical-align: middle;
}
.b-slider__controls {
    position: relative;
}
.b-controls {
    position: absolute;
    top: -155px;
    width: 100%;
}
.b-controls__arrow {
    border: 2px solid #d3d3d3;
    border-radius: 30px;
    color: #919191;
    font-size: 2em;
    font-weight: bold;
    height: 45px;
    line-height: 43px;
    text-align: center;
    width: 45px;
}
.b-controls__arrow_left {
    background: #dfdfdf none repeat scroll 0 0;
    float: left;
    margin-left: -23px;
}
.b-controls__arrow_right {
    background: #dfdfdf none repeat scroll 0 0;
    float: right;
    margin-right: -23px;
}
		
		/* Свойства Меню Слайдера */
.b-banner__sliderMenu {
    background: #d9d9d9 none repeat scroll 0 0;
    margin: 0 11px;
}
.b-sliderMenu {
    background: #d9d9d9 none repeat scroll 0 0;
    margin: 0 5px 0 9%;
    padding: 0;
}
.b-sliderMenu__item {
    background: #f4f3f3 none repeat scroll 0 0;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    box-shadow: 1px 1px 0 #676767;
    color: #e2e2e2;
    display: inline-block;
    font-size: 1.4em;
    height: 28px;
    line-height: 28px;
    margin: 13px 5% 14px 0;
    text-align: center;
    width: 19%;
}
.b-sliderMenu__item_active {
    background: #d8d8d8 none repeat scroll 0 0;
    color: #ffffff;
}
.b-sliderMenu__description{
	display: none;
}

		/* Свойства Каталлога заказа товара */
.b-slide__catallog {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: visibility 0.4s ease 0s, opacity 0.4s ease 0s;
    visibility: hidden;
    width: 100%;
}
.b-slide__catallog_shown {
    opacity: 1;
    transition: visibility 0.4s ease 0s, opacity 0.4s ease 0s;
    visibility: visible;
    z-index: 200;
}
.b-catallog {
    background: #fefefe none repeat scroll 0 0;
    border: 3px solid #d9d9d9;
    color: #414141;
    height: 400px;
    left: 0;
    margin: 60px auto 0;
    padding: 10px;
    text-align: center;
    top: 20px;
    width: 650px;
}
.b-catallog__goodView {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 41%;
}
.b-goodView {
    margin: 0;
}
.b-goodView__image {
    max-height: 350px;
}
.b-goodView__sign {
}
.b-catallog__goodInform {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 55%;
}
.b-goodInform {
}
.b-goodInform__inCart {
    display: none;
}
.b-goodInform__inCart_shown {
    color: #22aa2a;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px;
}
.b-goodInform__description {
}
.b-description {
}
.b-description__header {
}
.b-description__text {
}
.b-description__priceBlock{

}
.b-description__price {
}
.b-goodInform__orderForm {
}
.b-orderForm {
    margin: 20px;
}
.b-orderForm__quantity {
}
.b-orderForm__plus {
}
.b-orderForm__minus {
}
.b-orderForm__cart {
    border: 1px solid #414141;
    border-radius: 5px;
    color: #ff0000;
    font-size: 1.3em;
}
.b-orderForm__cart:hover {
    background: #a5a5a5 none repeat scroll 0 0;
}
.b-orderForm__cart_noActive {
    color: #fafafa;
}
.b-container__cartButton {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    color: #22a2aa;
    font-size: 1.2em;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 20px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 90px;
    z-index: 100;
}
.b-container__cartButton:hover {
    background: #d1d1d1 none repeat scroll 0 0;
}






/* Свойства Корзины */
.b-container__cart {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: visibility 0.4s ease 0s, opacity 0.4s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: 300;
}
.b-container__cart_shown {
    opacity: 1;
    transition: visibility 0.4s ease 0s, opacity 0.4s ease 0s;
    visibility: visible;
}
.b-cart {
    background: #fefefe none repeat scroll 0 0;
    border: 3px solid #d9d9d9;
    height: 400px;
    left: 0;
    margin: 60px auto 0;
    overflow: scroll;
    padding: 10px;
    position: relative;
    text-align: center;
    top: 20px;
    width: 650px;
}
.b-cart__sign {
    color: #22aa2a;
    font-size: 1.5em;
    font-weight: bold;
}
.b-cart__quantity {
    color: #51d151;
    font-size: 0.9em;
}
.b-cart__total {
    color: #51d151;
    font-size: 0.9em;
}
.b-cart__list {
    bottom: 20px;
    height: 345px;
    margin: 0;
    overflow: scroll;
    padding: 0;
    position: absolute;
    right: 20px;
}
.b-list {
    margin: 0;
    padding: 0;
}
.b-list__row {
    display: inline-block;
    width: 98%;
}
.b-row {
    margin: 0;
    padding: 0;
}
.b-row__item {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}
.b-row__goodView {
}
.b-goodView {
    font-size: 1.2em;
}
.b-goodView__image {
}
.b-goodView__sign {
}
.b-row__description {
}
.b-description {
}
.b-description__header {
    font-size: 1.8em;
}
.b-description__priceBlock {
    color: #00aa00;
    font-size: 1.2em;
    font-weight: bold;
}
.b-description__price {
}
.b-row__deleteBtn {
}
.b-deleteBtn {
    display: none;
    text-decoration: none;
}
.b-deleteBtn:hover {
    color: #a7a7a7;
}
.b-deleteBtn_shown {
    display: inline-block;
}
.b-cart__order {
    background: #fff1f1 none repeat scroll 0 0;
    border: 1px solid #ffaaaa;
    border-radius: 5px;
    color: #ff5566;
    font-size: 1.3em;
    text-decoration: none;
}






/* Свойства Вкладок */

.b-container__tabs {
    background: #fefefe none repeat scroll 0 0;
    padding: 80px 0 0;
    margin: 10px auto;
}
.b-tabs {
    padding: 0;
    height: 610px;
}
.b-tabs__menuTabs {
    border-bottom: 1px solid #b6b6b6;
    margin: 0 20px;
}
.b-menuTabs {
    margin: 0 0 0 51px;
    padding: 0;
    position: relative;
}
.b-menuTabs__item {
    display: inline-block;
    margin: 0 17px 0 0;
    width: 29.6%;
}

		/* Меню Вкладок */

.b-container__tabs {
    background: #fefefe none repeat scroll 0 0;
    margin: 10px auto;
    padding: 80px 0 0;
}
.b-tabs {
    height: 610px;
    padding: 0;
}
.b-tabs__menuTabs {
    border-bottom: 1px solid #b6b6b6;
    margin: 0 20px;
}
.b-menuTabs {
    margin: 0 0 0 51px;
    padding: 0;
    position: relative;
}
.b-menuTabs__item {
    display: inline-block;
    margin: 0 17px 0 0;
    width: 29.6%;
}
.b-menuTabs__headerTabs {
    background: #bcbcbc none repeat scroll 0 0;
    border: 1px solid #a5a5a5;
    border-radius: 5px 5px 0 0;
    color: #4a4a4a;
    font-size: 20px;
    height: 86px;
    margin: 0;
}
.b-menuTabs__headerTabs:hover {
    background: #dedede none repeat scroll 0 0;
}
.b-menuTabs__headerTabs_active {
    background: #f3f1f1 none repeat scroll 0 0;
    color: #2477ad;
}
.b-headerTabs__image {
    display: inline-block;
    margin: 20px 6px 0 21px;
    vertical-align: middle;
    width: 20%;
}
.b-headerTabs__itemTabName {
    display: inline-block;
    margin: 17px 0 0;
    vertical-align: middle;
}
.b-itemTabName {
}
.b-itemTabName__headlineWrap {
    margin: 0;
}
.b-itemTabName__headline {
    font-size: 1.05em;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}
.b-itemTabName__text {
    font-size: 0.6em;
    margin: 0;
}



		/* Контент Вкладок */

.b-tabs__activeTab {
    display: none;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 105px;
    width: 93.3%;
}
.b-tabs__activeTab_shown {
    display: block;
    z-index: 10;
}
.b-activeTab {
    margin: 0;
    padding: 0;
}
.b-activeTab__punctsTab {
    display: inline-block;
    margin: 0;
    vertical-align: bottom;
    width: 49%;
}
.b-punctsTab {
    background: #f3f1f1 none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    height: 500px;
    margin: 0;
    padding: 0;
}
.b-activeTab__windowTab {
    display: inline-block;
    margin: 0;
    vertical-align: bottom;
    width: 49%;
}
.b-windowTab {
    background: #f3f1f1 none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
}
.b-activeTab__mainTab{
	display: inline-block;
    margin: 0;
    vertical-align: bottom;
    width: 100%;
}
.b-mainTab{
	background: #f3f1f1 none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    height: 500px;
}
.b-mainTab__videoPromotion{
margin: 10px auto;
width: 560px;
height: 315px;
}
.b-videoPromotion{
}
.b-mainTab__textPromotion{
margin: 0 15px 10px; 
}
.b-textPromotion{
color: #414141;
font-size: 1.2em;

}
.b-textPromotion__header{
text-align: center;
line-height: 25px;
}
.b-textPromotion__text{
line-height: 21px;
}
.b-punctsTab__item {
    background: #f3f1f1 none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    list-style: outside none none;
    margin: 43px 0 0 4%;
    width: 92%;
    height: 45px;
    font-size: 1.1em;
    
}
.b-punctsTab__description {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 67%;
    vertical-align: middle;
}
.b-description__image {
    display: inline-block;
    margin: 20px 8px 15px 10px;
    vertical-align: middle;
}
.b-description__text {
    color: #a6a6a6;
    display: inline-block;
    letter-spacing: 0.3px;
    margin: 5px 0 0;
    padding: 0;
    vertical-align: middle;
    width: 82%;
}
.b-description__form {
    display: inline-block;
     vertical-align: middle;
}
.b-punctsTab__link {
    display: inline-block;
    position: relative;
}
.b-container__readMore {
    background: #f0eeee none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    border-radius: 1px;
    box-shadow: 4px -7px 5px -1px #fff;
    color: #b6b6b6;
    height: 29px;
    line-height: 32px;
    margin: 7px 0 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 0 0 #ffffff;
    vertical-align: middle;
    width: 102px;
}
.b-container__readMore:hover {
    background: #e0e0e0 none repeat scroll 0 0;
}
.b-windowTab__formSearch {
    background: #f4f3f3 none repeat scroll 0 0;
    margin: 27px 17px 0;
}
.b-formSearch__search {
    background: #ededed none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    color: #aaaaaa;
    font-size: 1.5em;
    font-weight: normal;
    height: 48px;
    padding: 0 0 0 16px;
    text-shadow: 1px 0 #000000;
    width: 100%;
}
.b-windowTab__menuWindow {
    margin: 10% 0;
}
.b-menuWindow {
    margin: 0;
    padding: 0 0 7px;
}
.b-menuWindow__item {
    background: #f1f1f1 none repeat scroll 0 0;
    border: 2px solid #ffffff;
    border-radius: 5px;
    display: inline-block;
    margin: 15px 9px 6px 24px;
}
.b-menuWindow__link {
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    display: block;
    height: 70px;
    margin: 0 auto;
    vertical-align: middle;
    width: 96%;
}
.b-menuWindow__imageWrap {
    margin: 0;
}
.b-menuWindow__image {
    height: 35px;
    margin: 18px;
    width: 38px;
}

				/* Вкладка 2 */
.b-punctsTab__definition {
    background: #f3f1f1 none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    color: #888888;
    display: none;
    font-size: 1.1em;
    left: 90px;
    line-height: 1.1em;
    min-height: 100px;
    padding: 3px;
    position: absolute;
    text-align: left;
    top: -29px;
    width: 250px;
    z-index: 100;
}
.b-punctsTab__definition_shown {
    display: block;
}
.b-activeTab__punctsTab_calculator {
    float: left;
}
.b-activeTab__windowTab_calculator {
    background: #fff none repeat scroll 0 0;
    float: right;
    height: 250px;
}
.b-punctsTab_calculator {
}
.b-windowTab__siteTypes {
}
.b-siteTypes {
    color: #626262;
    height: 100px;
    margin: 40px auto;
    width: 80%;
}
.b-siteTypes__types {
    font-size: 1.4em;
    height: 45px;
    width: 100%;
}
.b-siteTypes__priceTable {
    border: 1px solid #929292;
    border-radius: 5px;
    color: #515151;
    font-size: 1.2em;
    height: 33px;
    margin: 20px 0;
    width: 167px;
}
.b-siteTypes__priceTable:hover {
	background: #dddddd none repeat scroll 0 0;
}
.b-windowTab_calculator {
    height: 300px;
}
.b-windowTab_calc {
    height: 250px;
    position: relative;
}
.b-calculate {
    margin: 90px auto;
    width: 80%;
}
.b-calculate__btn {
    background: #ededed none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    color: #555555;
    font-size: 1.5em;
    height: 48px;
    margin: 0 20%;
    text-shadow: 1px 0 #000000;
    width: 60%;
}
.b-calculate__btn:hover {
    background: #dddddd none repeat scroll 0 0;
}
.b-windowTab__result {
    background: #f3f1f1 none repeat scroll 0 0;
    display: none;
    height: 120px;
    left: 0;
    margin: 40px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 90;
}
.b-windowTab__result_shown {
    display: block;
}
.b-result__price {
    font-size: 1.4em;
    height: 65px;
    margin: 10px auto;
    text-align: center;
}
.b-price {
}
.b-price__text {
    color: #aaaaaa;
    text-shadow: 1px 0 #000000;
}
.b-price__sum {
    color: #555555;
    font-size: 1.3em;
    height: 65px;
    text-align: center;
    text-shadow: 1px 0 #000000;
}
.b-result__return {
    margin: 0 auto;
    width: 50%;
}
.b-return__btn {
    background: #ededed none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    color: #888888;
    font-size: 1.2em;
    margin: 0 10%;
    text-shadow: 1px 0 #000000;
    width: 80%;
}
.b-return__btn:hover {
    background: #dddddd none repeat scroll 0 0;
}
				/* Вкладка 3 */
.b-menuTabs__headerTabs{

}
.b-headerTabs__image{

}
.b-headerTabs__itemTabName{

}
.b-itemTabName{

}
.b-itemTabName__headlineWrap{

}
.b-itemTabName__headline{

}
.b-itemTabName__text{

}
.b-activeTab__punctsTab_selection {
    margin: 0;
}
.b-punctsTab_selection {
    color: #515151;
    font-size: 1.2em;
}
.b-punctsTab__headerWrap_selection {
    font-size: 1.2em;
    margin: 37px 0 0;
    text-align: center;
}
.b-punctsTab__header {
}
.b-windowTab__contacts {
    margin: 44px 10%;
}
.b-contacts {
    margin: 30px;
}
.b-contacts__header {
}
.b-contacts__inform {
    font-size: 1.1em;
}
.b-windowTab__like {
    margin: 65px 10% 0;
}
.b-like__headerWrap {
}
b-like__header {
}
.b-like__socials {
}
.b-like__socialsImg {
}
.b-activeTab__windowTab_inform {
    margin-left: 1%;
    min-height: 500px;
    width: 49%;
}
.b-windowTab_inform {
    height: 500px;
    margin: 7px 0 0;
    width: 100%;
}
.b-windowTab__information {
    margin: 20px 3%;
}
.b-information {
    font-size: 1.3em;
}
.b-information__red {
    background: #ff0000 none repeat scroll 0 0;
    border: 1px solid #ff0000;
}
.b-information__label {
}
.b-information__field {
    margin: 7px 0;
    width: 90%;
}
.b-information__name {
}
.b-information__surname {
}
.b-information__email {
}
.b-information__phone {
}
.b-information__quastion {
}
.b-information__check {
    background: #f4f3f3 none repeat scroll 0 0;
    display: inline-block;
    height: 20px;
    margin: 0 auto;
    vertical-align: middle;
    width: 20px;
}
.b-information__check_ok {
    background: #f4f3f3 url("../images/design/okCheck.png") no-repeat scroll 0 0;
}
.b-information__check_no {
    background: #f4f3f3 url("../images/design/noCheck.png") no-repeat scroll 0 0;
}
.b-information__checkbox {
    margin: 10px 5px 0 0;
}
.b-information__checkboxLabel {
    font-size: 0.8em;
}
.b-information__add {
    font-size: 0.9em;
    height: 25px;
    margin: 10px 2% 0 0;
    width: 21%;
}
.b-information__addChoose {
    font-size: 0.95em;
}
.b-information__btn {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    font-size: 1.1em;
    margin: 10px 30%;
    width: 40%;
}
.b-information__btn:hover {
    background: #ddd none repeat scroll 0 0;
}
.b-information__checkboxLabel {
    line-height: 19px;
}




/* Свойства Ревью */

.b-container__reviews {
    margin: 42px 0 45px;
    display: block;
}
.b-reviews {
    background: #f5f3f3 none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    margin: 43px 22px 0;
}
.b-reviews__photo {
    display: inline-block;
    margin: 0 0 0 10px;
    width: 10%;
    vertical-align: middle;
}
.b-reviews__review {
    display: inline-block;
    margin: 12px;
    width: 85%;
    vertical-align: middle;
}
.b-review {
    background: #f3f1f1 none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    box-shadow: 7px -3px 11px 6px #fafafa inset;
}
.b-review__Quotes {
    display: inline-block;
    margin: 0;
    color: #b6b6b6;
    font-size: 3em;
}
.b-review__Quotes:first-child {
	margin: 10px;
}
.b-review__text {
    color: #b6b6b6;
    display: inline-block;
    font-size: 0.9em;
    line-height: 18px;
    margin: 14px 0 0;
    vertical-align: middle;
    width: 90%;
}
.b-review__signature {
    color: #b6b6b6;
    display: inline-block;
    font-weight: bold;
    line-height: 10px;
    margin: 0;
    padding: 0 27px 5px 0;
    text-align: right;
    width: 89%;
}




/* Свойства Блога */

.b-container__blog {
    background: #eeeeef none repeat scroll 0 0;
    border-bottom: 3px solid #b6b6b6;
    border-top: 4px solid #aaaaaa;
    padding-bottom: 10px;
}
.b-blog {
    margin-top: 15px;
}
.b-blog__headerBlog {
}
.b-headerBlog {
    border-bottom: 1px solid #d6d6d6;
    margin: 0;
}
.b-headerBlog__image {
    display: inline-block;
    margin: 0 12px 0 64px;
    vertical-align: middle;
}
.b-headerBlog__headerWrap {
    display: inline-block;
    vertical-align: middle;
}
.b-headerBlog__header {
    color: #bcbcbc;
    font-size: 1.67em;
    font-weight: normal;
    letter-spacing: 0.9px;
    margin: 0;
    text-shadow: 1px 0 #ffffff;
    text-transform: capitalize;
}
.b-blog__post {
    background: #f1efef none repeat scroll 0 0;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    display: inline-block;
    margin: 23px 0 5px 23px;
    width: 41.3%;
}
.b-blog__post:first-child {
    margin-right: 75px;
}
.b-post {
    margin: 16px 12px 0 19px;
}
.b-post__contentPost {
}
.b-contentPost {
}
.b-contentPost__headerWrap {
}
.b-contentPost__header {
    color: #448599;
    font-size: 1.25em;
    font-weight: normal;
    letter-spacing: 0.4px;
    margin: 0;
    text-transform: capitalize;
}
.b-contentPost__text {
    color: #b9b9b9;
    font-size: 0.9em;
    line-height: 19px;
    margin: 0;
}
.b-post__comments {
    display: inline-block;
    margin: 16px 0 0;
}
.b-comments {
    margin: 0;
}
.b-comments__image {
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}
.b-comments__account {
    color: #a6a6a6;
    display: inline-block;
    font-size: 0.9em;
    margin: 5px 0 0;
    vertical-align: middle;
}
.b-post__buttonPost {
    display: inline-block;
    float: right;
    margin: 0 0 8px;
}
.b-buttonPost__link {
    display: block;
}





/* Свойства Футера */

.b-container__footer {
    background: #b6b3b4 none repeat scroll 0 0;
    border-top: 1px solid #f6f6f6;
    margin: 0;
}
.b-footer {
    padding: 8px 0;
    height: 30px;
}
.b-footer__menu {
    display: inline-block;
    margin: 0 0 0 4px;
}
.b-menu_footer {
    border: medium none;
}
.b-menu__item_footer {
    border-left: 1px solid #888888;
    margin: 0 5% 0 0;
    padding: 0 0 0 5%;
}
.b-menu__item_footer:first-child {
    border-left: 1px solid transparent;
    margin-left: 0;
    padding: 0;
}
.b-menu__link__footer {
    color: #888888;
    font-size: 0.71em;
    text-shadow: 0.3px 0.3px #d6d6d6;
}
.b-footer__copyright {
    display: inline-block;
    margin: 0;
}
.b-copyright__text {
    color: #888888;
    font-size: 1.06em;
    margin: 6px 0 0;
    padding: 0;
    text-shadow: 0.5px 0.5px #d6d6d6;
}
